fastapi
pytesseract
unstructured_inference
unstructured
langchain
openai
chromadb
tiktoken

unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
bs4
pinecone-client


lark
pinecone-client